@model IT_proekt.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
    <style>
        #register {
            box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
        }
    </style>
    <body style="background-color:antiquewhite">
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-top: 5%">
                <h2>@ViewBag.Title</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" style="margin-left:25%">
                <section class="table-bordered" style="background-color:lightyellow; border:2px solid darkred" id="register">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Create a new account.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Register" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
        <footer>
            <div class="row">
                <hr />
                <div class="col text-center">
                    <small>FINKI 2020 &copy;</small>
                </div>
            </div>
        </footer>
    </body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
