@model IEnumerable<IT_proekt.Models.Item>
@{
    ViewBag.Title = "AddToCart";
}


<h3>Your Cart</h3>
<table class="table" id="cartTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>

        </tr>
    </thead>
    <tbody>
        @foreach (IT_proekt.Models.Item item in (List<IT_proekt.Models.Item>)Session["cart"])
        {
        <tr>
            <td>@item.pizza.Name</td>
            <td>@item.Quantity</td>
            <td>@(item.Quantity*item.pizza.Price)</td>
            <td><a href="@Url.Action("RemoveFromCart", "Pizzas", new { id = item.pizza.Id })">Remove</a></td>


        </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @{
                    List<IT_proekt.Models.Item> cart = (List<IT_proekt.Models.Item>)Session["cart"];
                    var total = cart.Sum(item => item.pizza.Price * item.Quantity);
                }
                @total
            </td>
        </tr>
    </tbody>

</table>
<br>
<a href="@Url.Action("Index", "Pizzas")">Continue Shopping</a>
@section scripts {
    <script>
        $("#cartTable").DataTable();

    </script>
}