@model IEnumerable<IT_proekt.Models.Item>
@{
    ViewBag.Title = "AddToCart";
}

<body style="background-color:antiquewhite">
   <div class="container" style="margin-top:5%;">
       <div class="car"></div>
       <div class="row">
           <div class="col-lg-6">
               @foreach (IT_proekt.Models.Item item in (List<IT_proekt.Models.Item>)Session["cart"])
               {
               <div id="orderedItem" style="background-color:white">
                   <h4>Name:</h4><p>@item.pizza.Name</p>
                   <h6>Quantity:</h6><p>@item.Quantity</p>


               </div>
               }
           </div>
       </div>
   </div>

</body>




@*<body style="background-color:antiquewhite">
        <div class="container" style="margin-top:10px;">
            <div class="row">
                <div class="col-md-12">
                    <h3>In Your Cart</h3>
                    <table class="table " id="cartTable" style="width:50%; background-color:white">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Actions</th>


                            </tr>
                        </thead>
                        <tbody>
                             @foreach (IT_proekt.Models.Item item in (List<IT_proekt.Models.Item>)Session["cart"])
                                {
                                    <tr>
                                        <td>@item.pizza.Name</td>
                                        <td>@item.Quantity</td>
                                        <td>@(item.Quantity * item.pizza.Price)</td>
                                        <td><a href="@Url.Action("RemoveFromCart", "Pizzas" , new { id=item.pizza.Id })" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash" style="color:red"></span></a></td>


                                    </tr>
                                    }
                                    <tr>
                                        <td align="right" colspan="2"><span style="font-style:italic">Total:</span></td>
                                        <td>
                                            @{
                                            List<IT_proekt.Models.Item>cart = (List<IT_proekt.Models.Item>)Session["cart"];
                                                    var total = cart.Sum(item => item.pizza.Price * item.Quantity);
                                            }
                                           @total
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                    <a href="@Url.Action("Index", "Pizzas")" class="btn btn-default btn-sm">Back to Menu</a>
                    @if(total == 0)
                    {
                        <a href="@Url.Action("Index", "Pizzas")" class="btn btn-default btn-sm disabled">Continue to payment</a>

                    }
                    else
                    {
                        <a href="@Url.Action("Payment", "Pizzas")" class="btn btn-default btn-sm">Continue to payment</a>

                    }


                    <br>

                </div>
            </div>
        </div>
    </body>*@
@section scripts {
    <script>


    </script>
}