@model IEnumerable<IT_proekt.Models.Item>
@{
    ViewBag.Title = "AddToCart";
    var total = 0;
}
<style>
    table tr td {
        border: 1px solid #FFFFFF;
    }

    table tr th {
        background: rgba(153, 173, 165, 0.37)
    }
    table {
        box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
    }

</style>

<body style="background-color:antiquewhite">
        <div class="container" style="margin-top:10px;">
            <div class="row">
                <div class="col-lg-10">
                    @if (Session["cart"] == null)
                    {
                        <h2>Nothing in your cart</h2>
                    }
                    else
                    {
                        <h3>In Your Cart</h3>

                        <table class="table table-striped" id="cartTable" style="background-color:white">
                            <thead>
                                <tr>
                                    <th>Pizza</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Actions</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (IT_proekt.Models.Item item in (List<IT_proekt.Models.Item>)Session["cart"])
                                {
                                    <tr>
                                        <td><img src="@item.pizza.Image" class="img-thumbnail" style="width:100px" /></td>
                                        <td>@item.pizza.Name</td>
                                        <td>@item.Quantity</td>
                                        <td>@(item.Quantity * item.pizza.Price) $</td>
                                        <td><a href="@Url.Action("RemoveFromCart", "Pizzas" , new { id=item.pizza.Id })" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash" style="color:red"></span></a></td>


                                    </tr>

                                }
                                <tr>
                                    <td align="right" colspan="3"><strong>Total:</strong></td>
                                    <td>
                                        @{
                                            List<IT_proekt.Models.Item> cart = (List<IT_proekt.Models.Item>)Session["cart"];
                                            total = cart.Sum(item => item.pizza.Price * item.Quantity);
                                        }
                                        @total $
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }



                    <br>

                </div>
                <div class="col-lg-8">
                    <a href="@Url.Action("Index", "Pizzas")" class="btn btn-sm btn-default" style="border-radius:5%; border:1px solid darkred"><span class="glyphicon glyphicon-arrow-left"></span> Continue shopping</a>

                </div>
                @if (Session["cart"] != null)
                {
                    <div class="col-lg-4">
                        @if (total == 0)
                        {
                            <a href="@Url.Action("Index", "Pizzas")" class="btn btn-danger btn-sm disabled">Place an order <span class="glyphicon glyphicon-arrow-right"></span></a>

                        }
                        else
                        {
                            <a href="@Url.Action("Payment", "Pizzas")" class="btn btn-danger btn-sm">Place an order <span class="glyphicon glyphicon-arrow-right"></span></a>

                        }
                    </div>
                }

            </div>
        </div>
    </body>
