@model IT_proekt.Models.Pizza

@{
    ViewBag.Title = "Details";
}

<style>
    #details {
        box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
    }
</style>

    <body style="background-color:antiquewhite">
       <div class="row">
           <div class="col-lg-6" style="border:1px solid darkred; margin-top:5%; margin-left:20%;" id="details">
               <h2>Details about the pizza</h2>

               <div>
                   
                   <dl class="dl-horizontal">
                       <dt>
                           @Html.DisplayNameFor(model => model.Name)
                       </dt>

                       <dd>
                           @Html.DisplayFor(model => model.Name)
                       </dd>

                       <dt>
                           @Html.DisplayNameFor(model => model.Price)
                       </dt>

                       <dd>
                           @Html.DisplayFor(model => model.Price)$
                       </dd>
                       <dt>
                           @Html.DisplayNameFor(model => model.Ingredients)
                       </dt>
                       <dd>
                           @Html.DisplayFor(model => model.Ingredients)
                       </dd>

                       <dt>
                           @Html.DisplayNameFor(model => model.Image)
                       </dt>

                       <dd>
                           <img src="@Model.Image" style="max-height:100px; max-width:200px" />
                       </dd>

                   </dl>
               </div>
              

           </div>

       </div>
        <div class="row">
            <div class="col-lg-10 text-center" style="margin-top:10px;">
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit Pizza", "Edit", new { id = Model.Id }) 
                    <div style="width:20%"></div>
                    @Html.ActionLink("Back to Menu", "Index")


                }
                else
                {
                    @Html.ActionLink("Back to Menu", "Index")

                }
            </div>
        </div>

    </body>
