@model IEnumerable<IT_proekt.Models.Pizza>

@{
    ViewBag.Title = "Index";
}

<style>
    #pizzaItem:hover{
        cursor:pointer;
        background-color:blanchedalmond;
    }
    
</style>
<body style="background-color:antiquewhite">
    <div class="container-fluid" style="width:150vh; margin-top:10px;">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2>What we offer</h2>
                <hr style="background-color:darkred; width:50vh; height:1vh" />
                @if (User.IsInRole("Admin"))
                {
            
               
                <a href="@Url.Action("Create", "Pizzas")" class="btn btn-default btn-sm">Create new</a>
            
                }

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 text-center" style="margin-bottom:2px;">
                    @*MyOrder-name of action, Pizzas-Controlerr*@
                    <a href="@Url.Action("MyOrder", "Pizzas")" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-shopping-cart" style="color:green"></span>Cart <span class="badge">@Session["count"]</span>
                    </a>

                </div>
            </div>





            </div>
    </div>
</body>


<div class="row">
    <div class="col-lg-12">

        @foreach (var item in Model)
        {

        <div style="border:2px solid darkred; border-radius:3%; margin-top:10px; margin-left:5px; width:45vh" class="col-md-4 text-center" id="pizzaItem" onclick="location.href='@Url.Action("Details", "Pizzas" , new { id=item.Id})'">
            <header>
                <img src="@item.Image" style="max-width:30vh; min-width:30vh; max-height:100px; margin-top:2px;" class="img-thumbnail" />
            </header>
            <div>
                <span style="font-style:oblique">Name:</span>  @Html.DisplayFor(modelItem => item.Name)

            </div>
           
            <div>
                <span style="font-style:oblique">Price:</span> @Html.DisplayFor(modelItem => item.Price)

            </div>
            <footer style="margin-bottom:5px;">
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Edit", "Pizzas" , new { id=item.Id})" class="btn btn-default btn-sm">Edit</a>
                    <a  class="btn btn-default btn-sm js-delete"  href ="@Url.Action("Delete", "Pizzas" , new { id=item.Id})"data-id="@item.Id">Delete</a>
                    <a href="@Url.Action("AddToCart", "Pizzas" , new { id=item.Id})" class="btn btn-default btn-sm">Add to Cart</a>
                }
                else if (User.IsInRole("User"))
                {
                    <a href="@Url.Action("AddToCart", "Pizzas" , new { id=item.Id})" class="btn btn-default btn-sm">Add to Cart</a>

                }
            </footer>
        </div>


        }
    </div>
</div>


@section scripts {
    <script>
        $(".js-delete").on("click", function (e) {
            e.stopPropagation();
            e.preventDefault();
            var addressValue = $(".js-delete").attr("href");
            bootbox.confirm("Are you sure you want to delete this pizza?", function (result) {
                //navigate on ok
                if (result) {
                    window.location = addressValue;
                }

            });

        });

    </script>
}
