@model IEnumerable<IT_proekt.Models.Pizza>

@{
    ViewBag.Title = "Index";
}


<body style="background-color:antiquewhite">
    <div class="container-fluid" style="width:150vh; margin-top:10px;">

        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="color:gray;">What we offer</h2>
                @if (User.IsInRole("Admin"))
                {
                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                }

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 text-right" style="margin-bottom:2px;">
                    @*MyOrder-name of action, Pizzas-Controlerr*@
                    <a href="@Url.Action("MyOrder", "Pizzas")" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-shopping-cart" style="color:green"></span>Cart <span class="badge">@Session["count"]</span>
                    </a>
                </div>

                <table class="table table-bordered" id="pizzaTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    <img src="@item.Image" style="max-width:200px; max-height:100px" />
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a href="@Url.Action("Edit", "Pizzas", new { id=item.Id})" class="btn btn-default btn-sm">Edit</a>
                                        <a href="@Url.Action("Details", "Pizzas", new { id=item.Id})" class="btn btn-default btn-sm">Details</a>
                                        <a href="@Url.Action("Delete", "Pizzas", new { id=item.Id})" class="btn btn-default btn-sm">Delete</a>
                                        <a href="@Url.Action("AddToCart", "Pizzas", new { id=item.Id})" class="btn btn-default btn-sm">Add to Cart</a>
                                    }
                                    else if (User.IsInRole("User"))
                                    {
                                        <a href="@Url.Action("Details", "Pizzas", new { id=item.Id})" class="btn btn-default btn-sm">Details</a>
                                        <a href="@Url.Action("AddToCart", "Pizzas", new { id=item.Id})" class="btn btn-default btn-sm">Add to Cart</a>

                                    }




                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
@section scripts {
    <script>
        $("#pizzaTable").DataTable();

    </script>
}
