@model IEnumerable<IT_proekt.Models.Pizza>

@{
    ViewBag.Title = "Index";
}

<h2>All Pizzas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-xs-12 text-right">
         @*MyOrder-name of action, Pizzas-Controler*@
        <a href="@Url.Action("MyOrder", "Pizzas")" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-shopping-cart" style="color:green"></span>Cart <span class="badge">@Session["count"]</span>
            </a>
</div>
</div>
<table class="table" id="pizzaTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img  src="@item.Image" style="max-width:200px; max-height:100px"/>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Add to Cart", "AddToCart", new { id = item.Id }) |
                </td>
            </tr>
        }

    </tbody>
</table>
@section scripts {
    <script>
        $("#pizzaTable").DataTable();
     
    </script>
}