@model  IT_proekt.Models.OrderForm
@{
    ViewBag.Title = "Payment";
}

<style>
    #payment {
        box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
    }
</style>
<body style="background-color:antiquewhite">
    @using (Html.BeginForm("FinishOrder","Pizzas", FormMethod.Post))
    { 
        <div class="container">
            <div class="page-header text-center">

            </div>
            <!-- Credit Card Payment Form - START -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        <div class="panel panel-default" id="payment">
                            <div class="panel-heading">
                                <div class="row">
                                    <h3 class="text-center">Payment Details</h3>

                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CardNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.CardNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-row">
                                            <div class="form-group col-md-7" style="margin-left:15px;">
                                                @Html.LabelFor(model => model.Expiration, htmlAttributes: new { @class = "control-label col-md-5" })
                                                <div>
                                                    @Html.EditorFor(model => model.Expiration, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Expiration, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3">

                                                @Html.LabelFor(model => model.Cvc, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div>
                                                    @Html.EditorFor(model => model.Cvc, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Cvc, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CardOwner, htmlAttributes: new { @class = "control-label col-md-12" })
                                                <div class="col-md-12">
                                                    @Html.EditorFor(model => model.CardOwner, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.CardOwner, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button class="btn btn-danger btn-lg btn-block" type="submit" id="confirmPayment">
                                            Confirm Payment
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12 text-center" style="margin-left:20px;">
            <a href="@Url.Action("MyOrder", "Pizzas")" class="btn btn-sm btn-link">Go Back</a>


        </div>
    </div>
    }
</body>
@Scripts.Render("~/bundles/jqueryval")

