@model IT_proekt.Models.OrderForm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expiration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cvc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cvc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardOwner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
